        body {
            margin: 0;
            width: 100vw;
            font-family: sans-serif;
            background: rgb(164, 144, 102);
        }
        .begin{
            z-index: 999;
        }
        #header {
            height: 2.5vh;
            background-color: rgb(187, 153, 107)
        }

        .footer {
            height: 8vh;
            background-color: rgb(187, 153, 107)
        }

        #endpage{
            width: 100vw;
            height: 100vh;
            background-color: rgb(228, 189, 138)
        }

        .butt {
            height: 100%;
            width: 33%;
            font-size: 1.25em;
            position: center;
            font-family: 'Permanent Marker', cursive;
        }
        .buttt {
            height: 10%;
            width: 33%;
            font-size: 2em;
            position: center;
            font-family: 'Permanent Marker', cursive;
            margin-top: 50vh;
            margin-left: 32.5vw;
        }
        .button {
            display: none;
            border-radius: 15px;
            background-color: #fdf9cf;
            border: none;
            color: #773b07;
            text-align: center;
            font-family: 'Permanent Marker', cursive;
            font-size: 20px;
            padding: 10px;
            width: 33%;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
            margin-left: 32.5vw;
          }

        .sound {
            width: 100%;
        }

        #word-input {
            width: 80%;
            position: relative;
            font-size: 1em;
        }

        #wrap {
            background: rgb(236, 223, 164);
            width: 100%;
            height: 87vh;
            position: relative;
        }

        .time {
            position: relative;
            font-family: 'Bree Serif', serif;
            font-size: 20px;
            left: 90vw;
            top: -32px;
        }

        .count {
            position: relative;
            font-family: 'Bree Serif', serif;
            font-size: 20px;
            left: 75vw;
            top: -6px;
        }

        .score {
            position: relative;
            font-family: 'Bree Serif', serif;
            font-size: 20px;
            left: 80vw;
            top: -32.5px;
        }

        .result {
            position: relative;
            left: 41vw;
            top: 40vh;
            margin: 0;
            font-family: 'Permanent Marker', cursive;
            font-size: 60px;
            color: rgb(0, 0, 0);
        }

        .logo {
            position: relative;
            left: 36vw;
            top: 2.5vh;
            margin: 0;
            font-family: 'Permanent Marker', cursive;
            font-size: 60px;
            color: rgb(160, 160, 160);
            z-index: 997;
        }

        .logo2 {
            position: relative;
            left: 35.5vw;
            top: -9.5vh;
            margin: 0;
            font-family: 'Permanent Marker', cursive;
            font-size: 60px;
            color: rgb(0, 0, 0);
            z-index: 998;
        }

        .all {
            text-align: center;
            font-family: 'Bree Serif', serif;
        }

        .head {
            font-size: 30px;
        }

        hr {
            width: 80vw;
        }

        .lyrics {
            text-align: center;
            margin-left: 175px;
            font-size: 40px;
            width: 1200px;
        }

        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
